body {
	margin: 0;
}

#wrap {
	width:310px;
	height:352px;
	
}

.large_button {
	width: 200px; 
	margin: auto;
}

.large_button p a.press-it-btn {
		display: block; /* Change anchor to block element */
		width: 200px;
		height: 85px; /* Specify width and height of the image. Height is value of each individual button graphic */
		 /* Add the image as a background */
		background-position: center top; /* Set the position to the top */
		text-indent: -9999px; /* Send the rendered HTML wording off screen */
}

.large_button p a.press-it-btn:active {
			background-position: center -85px; /* Set the position to the bottom */
		}

a { outline: none; }