body {
	margin: 0;
}

#wrap {
	width:310px;
	height:352px;
	background-color:pink;
}

.large_button {
	width: 433px; margin: 100px auto;
}

	#large_button p a.press-it-btn {
		display: block; /* Change anchor to block element */
		width: 133px;
		height: 174px; /* Specify width and height of the image. Height is value of each individual button graphic */
		background-image: url({{STATIC_URL}}images/button-sprite.png); /* Add the image as a background */
		background-position: top; /* Set the position to the top */
		text-indent: -9999px; /* Send the rendered HTML wording off screen */
	}
		#large_button p a.press-it-btn:hover, #demo p a.press-it-btn:focus {
			background-position: center; /* Set the position to the center */
		}
		#large_button p a.press-it-btn:active {
			background-position: bottom; /* Set the position to the bottom */
		}

a { outline: none; }